:root{
    --cor-primaria: #451123;
    --cor-secundaria: #812b49;
    --cor-fundo: #E6ACC9;
    --cor-texto: #2f0816;
    --cor-contraste: #f3eef7;
    --cor-botao: #f9f9f9;
}

body{
    max-width: 100vw;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    margin: 0 auto;
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
}

article{
    display: flex;

    border: 1px solid var(--cor-primaria);

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 80px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}